@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.CardsContainer {
    background: blanchedalmond;
    display: grid; /*Bei standard, setzt sie die Kinder von einen div in ihre eigenen Reihen*/
    grid-template-columns:  repeat(13, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.el1 {
    grid-column: 2 /span 3;
    grid-row: 3 / span 4;
    background: red;

}

.el2 {
    grid-column: 6 / span 3;
    grid-row: 3 / span 4;
    background: aqua;

}

.el3 {
    grid-column: 10 / span 3;
    grid-row: 3 / span 4;
    background: blue;

}

.el4 {
    grid-column: 2 / span 3;
    grid-row: 8 / span 4;
    background: green;

}

.el5 {
    grid-column: 6 / span 3;
    grid-row: 8 / span 4;
    background: yellow;

}

.el6 {
    grid-column: 10 / span 3;
    grid-row: 8 / span 4;
    background: purple;

}